@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

/* MAIN PAGE STYLES */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font: 400 1.1em Roboto, 'sans-serif';
}

button {
    background-color: #3882F6;
    color:#E5E7Eb;
    font-size: 20px;
    padding: 8px 24px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
}
.center-flex {
    width: 1000px;
    display:flex;
    justify-content: space-between;
}

/* END MAIN PAGE STYLES */

/* INFORMATION SECTION */
.information {
    text-align: center;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.information > h3 {
    flex-shrink: 0;
    width: 100%;
}

.card {
    width: 200px;
    flex-shrink: 0.75;
}
/* END INFORMATION SECTION */

/* QUOTE SECTION */

/* END QUOTE SECTION */